node_modules
.git
.idea
.DS_Store
dist_electron
simple-mind-map/dist
simple-mind-map/types
simple-mind-map/node_modules
utools/dist
web/node_modules
server/__pycache__
server/app/__pycache__
server/.env
**/__pycache__
**/*.pyc
*.md
LICENSE
qrcode.jpg
